.book-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(34, 34, 33)

}

.book-card {
    max-width: 31%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgba(255, 250, 250, 0.952);
}

.book-card-image {
    border: .5px solid grey;
    margin: 5px;
    width: 40%;
    height: 80%
}

.card-title {
    font-size: 2.8vw;
}

.card-text {
    font-size: 1.5vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .book-card {
        max-width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .book-card {
        max-width: 45%;
    }
    .card-title{
        font-size: 2.3vw;
    }
}

/* Large devices (laptops/desktops, 1025px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1025px) {
    .book-card {
        max-width:31%;
    }
    .card-title{
        font-size: 2vw;
    }
    .card-text{
        font-size: 1vw;
    }
}
